<h1><%= username %>'s' Favourites</h1>
<a href="/">Return Home</a>
<div class="favourite_items">
  <% favourites.each do |item|%>
    <div class="border">
      <% api = HTTParty.get("https://acnhapi.com/v1/#{item['item_type']}/#{item['item_id']}") %>
      <%= api["name"]["name-USen"] %><br/>
      <%= api["name"]["name-JPja"] %>
      <% if (item['item_type'] != 'songs') && (item['item_type'] != 'art') %>
        <img src="<%= api["icon_uri"] %>" alt="">
      <%else%>
        <img src="<%= api["image_uri"] %>" alt="">
      <%end%>
      <span><%= api["price"] %> Bells</span>
      <span>Catch Phrase: <%= api["catch-phrase"] %></span>
      <form action="/remove_favourites" method="POST">
        <input type="hidden" name="_method" value="delete">
        <input type="hidden" name="id" value="<%=item['id']%>">
        <button id="user_buttons">Remove from favourites</button>
      </form>
    </div>
  <%end%>
</div>
