<h1><%= username %>'s Wishlist</h1>
<a href="/">Return Home</a>
<div class="wishlist_items">
  <% wishlist.each do |item|%>
    <div class="border">
      <% api = HTTParty.get("https://acnhapi.com/v1/#{item['item_type']}/#{item['item_id']}") %>
      <%= api["name"]["name-USen"] %>
      <% if (item['item_type'] != 'songs') && (item['item_type'] != 'art') %>
        <img src="<%= api["icon_uri"] %>" alt="">
      <%else%>
        <img src="<%= api["image_uri"] %>" alt="">
      <%end%>
      <form action="/delete_wishlist" method="POST">
        <input type="hidden" name="_method" value="delete">
        <input type="hidden" name="id" value="<%=item['id']%>">
        <button>Remove from wishlist</button>
      </form>
      <form action="/favourite_wishlist" method="POST">
        <input type="hidden" name="_method" value="put">
        <input type="hidden" name="id" value="<%=item['id']%>">
        <button>Add to favourite</button>
      </form>
    </div>
  <%end%>
</div>
